header#navbar,
header#navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
body {
  background-image: -webkit-linear-gradient(141deg, #9e5fba, #616abb);
  background-image: linear-gradient(141deg, #9e5fba, #616abb);
  scrollbar-base-color: #9e5fba !important;
  scrollbar-arrow-color: #9e5fba !important;
  scrollbar-DarkShadow-Color: #9e5fba !important;
}

body,
.table-striped>tbody>tr:nth-of-type(odd),
ul.nav .dropdown-menu {
  background-color: #9e5fba !important;
}

.table-striped>tbody>tr:nth-of-type(even),
.btn-primary,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #616abb;
}

body,
pre,
legend,
.dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-link:hover,
.thumbnail .caption,
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading,
.panel-default > .panel-heading,
.help-block,
.form-control,
body header#navbar,
header#navbar .form-type-search .btn,
header#navbar.navbar-inverse .navbar-nav>li>a,
header#navbar.navbar-inverse .navbar-nav>li>a:hover,
header#navbar.navbar-inverse .navbar-brand,
header#navbar,
header#navbar a,
header#navbar a:hover,
.panel-title,
.help-block,
header#navbar .navbar-nav>li>a,
.ancwrap,
.content-nav.content-menu li.menu-depth-1 a .ancwrap,
#styleguide-header,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.btn-primary {
  color: #ffffff;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
header#navbar .navbar-nav>li>a:focus,
header#navbar .navbar-nav>li:hover>a,
header#navbar .navbar-nav>li>a.active,
header#navbar .dropdown-menu>li>a:hover,
header#navbar .dropdown-menu>li>a:focus,
.navbar-brand,
.submitted,
.breadcrumb>.active,
.nav a,
.nav a:hover,
header#navbar a,
header#navbar a:hover,
.input-group-addon,
.input-group-btn,
.input-group-btn>.btn,
.btn-group-vertical>.btn,
.btn-group>.btn,
.btn-group-justified>.btn-group .dropdown-menu,
.homepage-hero-text a,
.menu-content-container a.menu-item:hover,
a:hover {
  color: #ffffff !important;
}
.img-thumbnail,
.table .table,
.form-control,
.dropdown-menu,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.navbar-inverse .navbar-toggle .icon-bar,
.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus,
.pager li > a,
.pager li > span,
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span,
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge,
.thumbnail,
.list-group-item,
.panel,
.panel-primary > .panel-heading .badge,
.modal-content,
.carousel-indicators .active,
.breadcrumb,
.panel,
.panel-heading,
.panel-default > .panel-heading,
.panel-body,
.panel-footer,
.input-group-addon,
header#navbar .navbar-nav>li>a:focus,
header#navbar .navbar-nav>li:hover>a,
header#navbar .navbar-nav>li>a.active,
header#navbar .navbar-nav>.open>a,
header#navbar .navbar-nav>.open>a:hover,
header#navbar .navbar-nav>.open>a:focus,
header#navbar .navbar-toggle,
header#navbar.navbar-inverse,
header#navbar .form-type-search .btn,
.input-group-btn,
.input-group-btn>.btn,
.booktree .btn-default,
ul.book-menu,
ul.book-menu li,
.btn-group-vertical>.btn,
.btn-group>.btn,
.btn-group-justified>.btn-group .dropdown-menu,
.well,
pre,
.table-hover > tbody > tr:hover,
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.breadcrumb,
.progress,
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus,
.panel-footer,
.panel-default > .panel-heading {
  background-color: transparent;
}
.content-nav.content-menu li.menu-depth-1,
.content-nav.content-menu ul li,
.content-nav.content-menu ul ul,
.content-nav.content-menu ul:hover,
.content-nav.content-menu li:hover ul,
.content-nav.content-menu ul,
.content-nav.content-menu li.menu-depth-2 ul,
body header#navbar,
#styleguide-header,
#footer-wrap {
  background-color: transparent !important;
}
body header#navbar.navbar-fixed-top.scrolled,
header#navbar.navbar-fixed-top.scrolled,
header#navbar.navbar-fixed-bottom {
  background-color: #616abb !important;
}
a {
  color: #e3dbe6 !important;
}
.form-control,
.fieldset,
.well,
.img-thumbnail,
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus,
.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus,
.pager li > a,
.pager li > span,
.thumbnail,
.panel-footer,
.panel-default,
.panel-default > .panel-heading,
.well blockquote,
.navbar-default .navbar-toggle,
.list-group-item,
.jumbotron,
.input-group-addon,
header#navbar .navbar-toggle,
#styleguide-header,
.content-nav.content-menu li.menu-depth-1,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.btn-primary {
  border-color: #e3dbe6 !important;
}
header#navbar .navbar-nav>li>a:focus,
header#navbar .navbar-nav>li:hover>a,
header#navbar .navbar-nav>li>a.active,
.nav-tabs,
.panel-group .panel-footer + .panel-collapse .panel-body,
.panel-default > .panel-footer + .panel-collapse > .panel-body,
.table > thead > tr > th,
.page-header,
.breadcrumb,
.content-nav.content-menu a.menu-depth-1 > .ancwrap,
.content-nav.content-menu li.menu-depth-1 > a .ancwrap {
  border-bottom-color: #e3dbe6;
}
