@media (min-width: 768px) and (max-width: 1169px) {
  header#navbar .navbar-nav>li>a {
    text-transform: none;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
  }
  header#navbar .navbar-nav>li>a:focus,
  header#navbar .navbar-nav>li:hover>a,
  header#navbar .navbar-nav>li>a.active {
    border-bottom: 0px solid;
    border-bottom: none;
  }
  header#navbar .navbar-nav > li > a:focus,
  header#navbar .navbar-nav > li > a:hover,
  header#navbar .navbar-nav > li > a.active,
  header#navbar .navbar-nav li a:focus,
  header#navbar .navbar-nav li a:hover,
  header#navbar .navbar-nav li a.active,
  header#navbar .dropdown-menu>li>a:focus,
  header#navbar .dropdown-menu>li>a:hover,
  header#navbar .dropdown-menu>li>a.active {
    border-left: none;
  }
}
@media (max-width: 767px) {
  .h1,
  h1 {
    font-size: 30px;
  }
  .region-navigation {
    max-width: 100%;
  }
  .navbar-header {
    margin-top: 0;
  }
  .breadcrumb,
  body.path-frontpage header#navbar .navbar-toggle {
    display: none !important;
  }
  .menu-content-container .content-nav.content-menu {
    margin-bottom: -1.875em; /* 30px */
    -webkit-column-count: 1;
    -webkit-column-gap: 1.875em; /* 30px */
    -webkit-column-fill: auto;
    -moz-column-count: 1;
    -moz-column-gap: 1.875em; /* 30px */
    -moz-column-fill: auto;
    column-count: 1;
    column-gap: 1.875em; /* 30px */
    column-fill: auto;
    padding-left: 0px;
  }
}
