html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: lighter;
  letter-spacing: 1px;
  background-attachment: fixed;
  /*background-size: cover;
  background-position: center center;*/
  min-height: 95%;
}
body header#navbar.navbar-fixed-top.scrolled,
header#navbar.navbar-fixed-top.scrolled,
header#navbar.navbar-fixed-bottom.scroll-top {
  transition: all 0.4s ease-in-out 0.1s;
}
body header#navbar.navbar-fixed-top.scroll-top,
header#navbar.navbar-fixed-top.scroll-top,
header#navbar.navbar-fixed-bottom.scroll-top {
  transition: all 0.4s ease-out-in 0.1s;
}
#footer-wrap {
  padding-bottom: 30px;
  padding-top: 30px;
}
.main-container {
  background-color: rgba(255,255,255,0.1);
}
.field-label {
  font-weight: normal;
}
#navbar,
.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}
h1.page-header {
  padding-bottom: 20px;
}
h2.block-title {
  font-size: 26px;
}

body.navbar-is-fixed-top .main-container {
  margin-top: 10px;
}
.region-navigation {
  max-width: 25%;
  padding-top: 4px;
}
.navbar-header {
  margin-top: 5px;
}
header#navbar nav {
  max-height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

body.path-innerpage header#navbar .navbar-nav>li {
  margin-top: 5px;
}
body.path-innerpage header#navbar .navbar-nav>li>a {
  text-transform: none;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

body.path-innerpage header#navbar .navbar-nav>li>a.active {
  border-bottom: 1px solid;
}
header#navbar #navigation {
  border: none;
}
header#navbar .logo {
  margin-top: 0px;
}
header#navbar .logo img {
  height: 30px;
  width: auto;
}
header#navbar .navbar-toggle {
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.menu-content-container {
  margin: 50px auto;
}

.menu-content-container .content-nav.content-menu {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1.875em; /* 30px */
  -webkit-column-count: 3;
  -webkit-column-gap: 1.875em; /* 30px */
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 1.875em; /* 30px */
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 1.875em; /* 30px */
  column-fill: auto;
  padding-left: 0px;
}

.ancwrap {
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  word-wrap: break-word;
  word-break: break-word;
}
.content-nav.content-menu a.menu-depth-1 > .ancwrap {
  border-bottom: 1px solid #ae8ccd;
}
.anctitle {
  display: block;
  font-weight: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.ancdescrip {
  display: block;
  font-size: 0.9em;
}
.content-nav.content-menu a.menu-depth-1 .anctitle {
  font-size: 1.4em;
}
.content-nav.content-menu a.menu-depth-1 .ancdescrip {
  display: block;
  font-size: 1.1em;
}
.content-nav.content-menu li.menu-depth-1 {
  margin-bottom: 30px; /* 15px 30px */
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  height: auto;
  display: block !important;
  clear: both;
  float: left;
  width: 100%;
  color: #ffffff;
  border: 1px solid #ae8ccd;
  border-radius: 0px;
}
.content-nav.content-menu li.menu-depth-1 > a {
  padding-top: 15px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 5px !important;
  display: block;
}
.content-nav.content-menu li.menu-depth-1 a .ancwrap {
  padding-bottom: 15px !important;
}
.content-nav.content-menu li.menu-depth-1 > a .ancwrap {
  border-bottom: 1px solid #ae8ccd;
  display: block;
}
.content-nav.content-menu .dropdown-menu>li>a {
  padding: 5px 0px !important;
  white-space: normal !important;
}
.content-nav.content-menu li.menu-depth-1 ul a {
  padding: 5px 15px !important;
}
.content-nav.content-menu ul li,
.content-nav.content-menu ul ul,
.content-nav.content-menu ul:hover,
.content-nav.content-menu li:hover ul,
.content-nav.content-menu ul {
  display: block !important;
  position: relative !important;
  left: 0px !important;
  border: none !important;
  box-shadow: none !important;
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  border-radius: 0px;
}
.content-nav.content-menu {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.content-nav.content-menu a:hover {
  text-decoration: none;
}
ul.content-nav.content-menu li.menu-depth-1 > a.dropdown-toggle:after {
  display: none;
}
.content-nav.content-menu li.menu-depth-2 ul {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  display: block !important;
  position: relative !important;
  border: none !important;
  box-shadow: none !important;
}
.content-nav.content-menu li.menu-depth-2:hover > ul {
  hdisplay: none !important;
}

body header#navbar {
  padding-top: 10px !important;
}

.homepage-hero-text {
  padding-top: 50px;
  padding-bottom: 70px;
  display: block;
  clear: both;
  float: left;
  width: 100%;
}
.homepage-hero-text h1,
.homepage-hero-text h2,
.homepage-hero-text h3 {
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 28px;
  margin-bottom: 20px;
}

.homepage-hero-text a {
  text-decoration: underline !important;
}
.homepage-hero-text .hero-desc {
  line-height: 1.8em;
  letter-spacing: 2px;
}

.navbar-brand {
  height: 40px;
  padding: 5px 10px;
  font-size: 25px;
  line-height: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
}

label {
  font-weight: 400;
}
/* all ms- are abbrivation of menuistic settings */
.ms-intented-menu .content-nav.content-menu li.menu-depth-1 .dropdown-menu {
  padding-left: 5px !important;
}

.angled-edge {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.breadcrumb {
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid #ae8ccd;
}
.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
a:hover {
  transition: all ease-in-out 0.6s !important;
}
